h3 {
	text-align: center;
}
p.center {
	text-align: center;
}
img.centersize {
    display: block;
    margin: 0 auto;
}
}
div.navlinks {
	margin: 0 0;
    padding: 0 auto;
}
h3.title {
	color:black;
	text-align: center;
}
span.glyphicon-option-horizontal {
	font-size:6.7em;
}
body { padding-top: 70px; }_
div.links {
	float: left;
}
.vert-align {
	vertical-align: middle;
}
.post {
	padding-left: 20%;
}
iframe {
	height:300px;
	width:300px;
}
div.iframe {
	padding-left:175px;
}
}
